{% load crispy_forms_tags %}
{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}


<div class="grid">
    <div class="titlebar">
        POLISYSTENT
    </div>
    <div class="subtitlebar">
        Zaloguj się
    </div>
    <div class="formbar">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Nie masz konta? Załóż je <a href="/register">tutaj</a></p>
            <button type="submit">Zaloguj się</button>
        </form>
    </div>
</div>
