<div class="sidebar">
    <table>
        <tr>
            <td>
                Strona główna
            </td>
        </tr>
        <tr>
            <td>
                Kalendarz
            </td>
        </tr>
        <tr>
            <td>
                Plan zajęć
            </td>
        </tr>
        <tr>
            <td>
                Cele
            </td>
        </tr>
        <tr>
            <td>
                Statystyki
            </td>
        </tr>
        <tr>
            <td>
                Średnia
            </td>
        </tr>
    </table>
</div>