<div class="sidebar">
    <table>
        <tr>
            <td>
                <div class="divBox">
                    <a href="/">Strona Główna</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="divBox">
                    <a href="/calendar/main">Kalendarz</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="divBox">
                    <a href="/scheduler/main">Plan zajęć</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Cele
            </td>
        </tr>
        <tr>
            <td>
                Statystyki
            </td>
        </tr>
        <tr>
            <td>
                <div class="divBox">
                    <a href="/avgGrade/">Średnia</a>
                </div>
            </td>
        </tr>
                <tr>
            <td>
                <div class="divBox">
                    <a href="/logout/">Wyloguj</a>
                </div>
            </td>
        </tr>
    </table>
</div>
