<div class="top-bar">
    <table>
        <tr>
            {% for course in courses %}
                <td>
                    <div class="divBox">
                        <a href="{% url 'course' course.id %}">{{ course.course_name }}</a>
                    </div>
                </td>
            {% endfor %}
            {% if not courses %}
                <td>
                    <div class="divBox">
                        Brak zajęć
                    </div>
                </td>
            {% endif %}
        </tr>
    </table>
</div>
