{% extends "base/base-template.html" %}

{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/avg_grade_page.css' %}">
{% endblock %}

{% block content %}
    <div class="avg_grade">
        <div class="titlebar">
            <div class="title">
                Średnia
            </div>
        </div>

        <div class="buttonbar">
            <a href="{% url 'avg_grade_calc' %}" class="button">
                Policz średnią
            </a>
        </div>

        <div class=line>
            <hr style="color:CornflowerBlue">
        </div>

        <div class="grades_list">
            <table>
                <tr>
                    <td>
                        <h3>Przedmiot</h3>
                    </td>
                    <td>
                        <h3>ECTS</h3>
                    </td>
                    <td>
                        <h3>Ocena</h3>
                    </td>
                </tr>
                {% for course in all_courses %}
                    <tr>
                        <td>
                            {{ course.course_name }} {{ course.type }}
                        </td>
                        <td>
                            {{ course.ECTS }}
                        </td>
                        <td>
                            {{ course.final }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="avgGradeResult">
            {% if avg == -1 %}
                Brak danych
            {% elif avg is not None %}
                Średnia
                {{ avg|floatformat:"-2" }}
            {% endif %}
        </div>

    </div>

{% endblock %}
