{% extends "base/base-template.html" %}
{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar2.css' %}">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class=titlebar>
        <div class=title>
            Kalendarz
        </div>
    </div>
    <div class=buttonbar>
        <a href="{% url 'calendar_import' %}" class=button>
            Dodaj plan
        </a>
        <a href="{% url 'new' %}" class=button>
            Dodaj wydarzenie
        </a>
    </div>

    <div class=line>
        <hr style="color:CornflowerBlue">
    </div>

    <div class=calendar>
        <div class="month">
      <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>August<br><span style="font-size:18px">2017</span></li>
      </ul>
    </div>

    <ul class="weekdays">
      <li>Mo
          <ul class="days">
                {% if d %}
                    {% for el in d %}
                        <li>{{ el.0 }} </li>
                    {% endfor %}
                {% endif %}
          </ul>
      </li>
      <li>Tu
          <ul class="days">
                {% if d %}
                    {% for el in d %}
                        <li>{{ el.1 }} </li>
                    {% endfor %}
                {% endif %}
          </ul>
      </li>
      <li>We
          <ul class="days">
                {% if d %}
                    {% for el in d %}
                        <li>{{ el.2 }} </li>
                    {% endfor %}
                {% endif %}
          </ul>
      </li>
      <li>Th
          <ul class="days">
                {% if d %}
                    {% for el in d %}
                        <li>{{ el.3 }} </li>
                    {% endfor %}
                {% endif %}
          </ul>
      </li>
      <li>Fr
          <ul class="days">
            {% if d %}
                {% for el in d %}
                    <li>{{ el.4 }} </li>
                {% endfor %}
            {% endif %}
      </ul>
  </li>
      <li>Sa
          <ul class="days">
            {% if d %}
                {% for el in d %}
                    <li>{{ el.5 }} </li>
                {% endfor %}
            {% endif %}
      </ul>
  </li>
      <li>Su
          <ul class="days">
            {% if d %}
                {% for el in d %}
                    <li>{{ el.6 }} </li>
                {% endfor %}
            {% endif %}
      </ul>
  </li>
</ul>

    </div>
</div>
{% endblock %}
