{% extends "base/base-template.html" %}
{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class=titlebar>
        <div class=title>
            Kalendarz
        </div>
    </div>
    <div class=buttonbar>
        <a href="{% url 'new' %}" class=button>
            Dodaj wydarzenie
        </a>
        <a href="{% url 'new_course' %}" class=button>
            Dodaj kurs
        </a>
    </div>

    <div class=line>
        <hr style="color:CornflowerBlue">
    </div>



    <div class=calendar>
        <div class=calendar_title>

            <table id="myTable">
                <tr>
                    <td>
                        Poniedziałek
                    </td>
                    <td>
                        Wtorek
                    </td>
                    <td>
                        Środa
                    </td>
                    <td>
                        Czwartek
                    </td>
                    <td>
                        Piątek
                    </td>
                    <td>
                        Sobota
                    </td>
                    <td>
                        Niedziela
                    </td>
                </tr>
                    {% if d %}
                        <tr>
                            <td>
                                <pre>{{d.0.0}}</pre>
                            </td>
                            <td>
                                <pre>{{d.1.1}}</pre>
                            </td>
                            <td>
                                <pre>{{d.2.2}}</pre>
                            </td>
                            <td>
                                <pre>{{d.3.3}}</pre>
                            </td>
                            <td>
                                <pre>{{d.4.4}}</pre>
                            </td>
                            <td>
                                <pre>{{d.5.5}}</pre>
                            </td>
                            <td>
                                <pre>{{d.6.6}}</pre>
                            </td>
                        </tr>
                    {% endif %}



            </table>
        </div>
    </div>
</div>

{% endblock %}
