{% extends "base/base-template.html" %}

{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/course_page.css' %}">
{% endblock %}

{% block content %}
    {% if message %}
    <script type="text/javascript">
        alert("Najpierw musisz dodać zasady zaliczenia!");
    </script>
    {% endif %}
    <div class="grid-container">
        <div class="titlebar">
            <div class="title">
                {{ course.course_name }}
            </div>
        </div>

        <div class=buttonbar>
            <a href="{% url 'mark_add' course.id %}" class=button>
                Dodaj ocenę
            </a>
            <a href="{% url 'temp' %}" class=button>
                Dodaj cel
            </a>
            <a href="{% url 'temp' %}" class=button>
                Dodaj Plik
            </a>
            <a href="{% url 'configure_webpage' course.id  %}" class=button>
                Dodaj stronę
            </a>
            <a href="{% url 'course_event' course.id  %}" class=button>
                Dodaj wydarzenie
            </a>
            <a href="{% url 'new_pass_rules' course.id %}" class=button>
                Dodaj zasady zaliczenia
            </a>
            <a href="{% url 'edit_course' course.id %}" class=button>
                Edytuj kurs
            </a>

        </div>

        <div class=line>
            <hr style="color:CornflowerBlue">
        </div>

        <div class="button_courses_bar">
            {% if lecture %}
                <a href="{% url 'course' lecture.id %}" class="button">
                    Wykład
                </a>
            {% endif %}
            {% if tutorial %}
                <a href="{% url 'course' tutorial.id %}" class="button">
                    Ćwiczenia
                </a>
            {% endif %}
            {% if laboratory %}
                <a href="{% url 'course' laboratory.id %}" class="button">
                    Labolatoria
                </a>
            {% endif %}
        </div>

        <div class="info_panels">
            <div class="info_pane col-1">
                <table>
                    <tr>
                        <td>
                            <h3>Informacje</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Forma: {{ course.type }} <br>
                            Prowadzący:
                            {{ course.teacher_id.name }} {{ course.teacher_id.surname }} <br>
                            ECTS: {{ course.ECTS }} <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="{{ course.teacher_id.webpage }}">
                                <input type="submit" value="Przejdź na stronę prowadzącego" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="{% url 'pass_rules' course.id %}">
                                <input type="submit" value="Sprawdź/edytuj zasady zaliczenia" />
                            </form>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Przeglądaj pliki
                        </td>
                    </tr>
                </table>
            </div>

            <div class="info_pane col-2">
                <table>
                    <tr>
                        <td>
                            <h3>Oceny</h3>
                        </td>
                    </tr>
                    <tr>
                        <table>
                            <tr>
                                <td>Ocena</td>
                                <td>Waga</td>
                                <td>Typ</td>
                                <td>Z</td>
                            </tr>
                            {% for mark in marks %}
                                <tr>
                                    <td> <a href="{% url 'mark_edit' mark.id %}"> {{ mark.mark }} </a> </td>
                                    <td> {{ mark.weight }} </td>
                                    <td> {{ mark.mark_type }} </td>
                                    <td> {{ mark.mark_form }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </tr>
                </table>
            </div>

            <div class="info_pane col-3">
                <table>
                    <tr>
                        <td>
                            <h3>Cele</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for goal in goals %}
                                {{ goal.description }}
                                <br>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="info_pane col-4">
                <table>
                    <tr>
                        <td>
                            <h3>Najbliższe zajęcia</h3>
                        </td>
                    </tr>
                    {% for course in next_courses %}
                    <tr>
                        <td>
                            {{ course.start_date }} <br>
                            {{ course.end_date }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="info_pane col-5">
                <table>
                    <tr>
                        <td>
                            <h3>Najbliższe wydarzenia</h3>
                        </td>
                    </tr>
                    {% for course in courseEvents %}
                    <tr>
                        <td>
                            {{ course.description }} <br>
                            {{ course.start_date }} <br>
                            {{ course.end_date }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>


        </div>

    </div>
{% endblock %}
