{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block extension-styles %}
    <meta charset="UTF-8">
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/files.css' %}">
{% endblock %}


{% block content %}
<div class="grid">
    <div class="titlebar">
        <div class=title>
            Zarządzaj plikami
        </div>
    </div>
    <div class="buttonbar">
        <a href="{% url 'course' pk %}" class="button">Wróć</a>
    </div>
    <div class=line>
        <hr style="color:CornflowerBlue">
    </div>
    <div class="main_list">
        <div class="main_list_title">
            <table id="myTable">
            <tr>
                <td>
                    Listy
                    <br></br>
                </td>
                <td>
                    Notatki
                    <br></br>
                </td>
                <td>
                    Brudnopis
                    <br></br>
                </td>
                <td>
                    Inne
                    <br></br>
                </td>
            </tr>
            <tr>
                <td>
                    {% for file in d.listy %}
                        <div class=""></div>
                            <a href="{% url 'edit_file' pk 'listy' file %}">{{ file }} </a>
                        <br></br>
                    {% endfor %}
                </td>
                <td>
                    {% for file in d.notatki %}
                        <div class=""></div>
                        <a href="{% url 'edit_file' pk 'notatki' file %}">{{ file }} </a>
                        <br></br>
                    {% endfor %}
                </td>
                <td>
                    {% for file in d.brudnopis %}
                        <div class=""></div>
                        <a href="{% url 'edit_file' pk 'brudnopis' file %}">{{ file }} </a>
                        <br></br>
                    {% endfor %}
                </td>
                <td>
                    {% for file in d.inne %}
                        <div class=""></div>
                        <a href="{% url 'edit_file' pk 'inne' file %}">{{ file }} </a>
                        <br></br>
                    {% endfor %}
                </td>
            </tr>
        </div>
    </div>
</div>
{% endblock %}
