{% extends "base/base-template.html" %}
{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
{% endblock %}

{% block content %}
    <div class="main-page container-fluid vh-100">
        <div class="row vh-50">
            <div class="info_pane col">
                <table>
                    <tr>
                        <td>
                            <h1>Plan na dziś</h1>
                        </td>
                    </tr>
                    {% for event in events_today %}
                        <tr>
                            <td>
                                {{ event.description.description }} <br>
                                {{ event.start_date }}
                                {{ event.end_date }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="info_pane col">
                <table>
                    <tr>
                        <td>
                            <h1>Najbliższe wydarzenia</h1>
                        </td>
                    </tr>
                    {% for event in next_events %}
                        <tr>
                            <td>
                                {{ event.description.description }} <br>
                                {{ event.start_date.date }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="info_pane col">

            </div>
        </div>

        <div class="row">
             <div class="info_pane col">

            </div>
            <div class="info_pane col">

            </div>
            <div class="info_pane col">

            </div>
        </div>


    </div>


{% endblock %}
