{% extends "base/base-template.html" %}
{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
{% endblock %}

{% block content %}
    <div class="main_page">
        <div class="info_pane col-1 row-1">
            <table>
                <tr>
                    <td>
                        <h1>Plan na dziś</h1>
                    </td>
                </tr>
                {% for event in events %}
                    <tr>
                        <td>
                            {{ event.description.description }} <br>
                            {{ event.start_date }}
                            {{ event.end_date }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="info_pane col-2 row-1">

        </div>
        <div class="info_pane col-3 row-1">

        </div>
        <div class="info_pane col-1 row-2">

        </div>
        <div class="info_pane col-2 row-2">

        </div>
        <div class="info_pane col-3 row-2">

        </div>
    </div>


{% endblock %}
