{% extends "base/base-template.html" %}
{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_calendar.css' %}">
    <script type="text/javascript" src="{% static 'scripts/calendar.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class=titlebar>
        <div class=title>
            Kalendarz
        </div>
    </div>
    <div class=titledate>
        <div class=title>
            <span>{{ d.period }}</span>
            <a href="{% url 'calendar' d.prev_shift %}" class=button>
                Poprzedni tydzień
            </a>
            <a href="{% url 'calendar' 'main' %}" class=button>
                Teraz
            </a>
            <a href="{% url 'calendar' d.next_shift %}" class=button>
                Następny tydzień
            </a>

        </div>
    </div>
    <div class=buttonbar>
        <a href="{% url 'new' %}" class=button>
            Dodaj wydarzenie
        </a>
        <a href="{% url 'new_course' %}" class=button>
            Dodaj kurs
        </a>
    </div>
    <div class=line>
        <hr style="color:CornflowerBlue">
    </div>
    <div class=calendar>
        <div class=calendar_title>

            <table id="myTable">
                <tr>
                    <td>
                        Poniedziałek
                        <br></br>
                    </td>
                    <td>
                        Wtorek
                        <br></br>
                    </td>
                    <td>
                        Środa
                        <br></br>
                    </td>
                    <td>
                        Czwartek
                        <br></br>
                    </td>
                    <td>
                        Piątek
                        <br></br>
                    </td>
                    <td>
                        Sobota
                        <br></br>
                    </td>
                    <td>
                        Niedziela
                        <br></br>
                    </td>
                </tr>
                    {% if d %}
                    <tr>
                        <td>
                            {% for event in d.0 %}
                            <span>{{ event.start_date }} - {{ event.end_date }}</span>
                            <div class=""></div>
                            <a href="{% url 'edit_event' event.id %}">{{ event.description }} </a>
                            <br></br>
                            {% endfor %}
                        </td>
                    <td>
                        {% for event in d.1 %}
                        <span>{{ event.start_date }} - {{ event.end_date }}</span>
                        <div class=""></div>
                        <a href="{% url 'edit_event' event.id %}">{{ event.description }} </a>
                        <br></br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for event in d.2 %}
                        <span>{{ event.start_date }} - {{ event.end_date }}</span>
                        <div class=""></div>
                        <a href="{% url 'edit_event' event.id %}">{{ event.description }} </a>
                        <br></br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for event in d.3 %}
                        <span>{{ event.start_date }} - {{ event.end_date }}</span>
                        <div class=""></div>
                        <a href="{% url 'edit_event' event.id %}">{{ event.description }} </a>
                        <br></br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for event in d.4 %}
                        <span>{{ event.start_date }} - {{ event.end_date }}</span>
                        <div class=""></div>
                        <a href="{% url 'edit_event' event.id %}">{{ event.description }} </a>
                        <br></br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for event in d.5%}
                        <span>{{ event.start_date }} - {{ event.end_date }}</span>
                        <div class=""></div>
                        <a href="{% url 'edit_event' event.id %}">{{ event.description }} </a>
                        <br></br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for event in d.6 %}
                        <span>{{ event.start_date }} - {{ event.end_date }}</span>
                        <div class=""></div>
                        <<a href="{% url 'edit_event' event.id %}">{{ event.description }} </a>
                        <br></br>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}



            </table>
        </div>
    </div>
</div>
    <!-- <div class=calendar>
        <table id="myTable">
        {% if d %}
            <tr>
                <td>Poniedziałek</td>
                <td>Wtorek</td>
                <td>Środa</td>
                <td>Czwartek</td>
                <td>Piątek</td>
                <td>Sobota</td>
                <td>Niedziela</td>
            </tr>
                <tr>
                    <td>
                        {% for event in d.0 %}
                        <span>{{ event.start_date }} - {{ event.end_date }}</span>
                        <div class=""></div>
                        <span>{{ event.description }}</span>
                        {% for s in event.size %}
                            <br></br>
                        {% endfor %}
                        <br></br>
                        {% endfor %}
                    </td>
                <td>
                    {% for event in d.1 %}
                    <span>{{ event.start_date }} - {{ event.end_date }}</span>
                    <div class=""></div>
                    <span>{{ event.description }}</span>
                    {% for s in event.size %}
                        <br></br>
                    {% endfor %}
                    <br></br>
                    {% endfor %}
                </td>
                <td>
                    {% for event in d.2 %}
                    <span>{{ event.start_date }} - {{ event.end_date }}</span>
                    <div class=""></div>
                    <span>{{ event.description }}</span>
                    {% for s in event.size %}
                        <br></br>
                    {% endfor %}
                    <br></br>
                    {% endfor %}
                </td>
                <td>
                    {% for event in d.3 %}
                    <span>{{ event.start_date }} - {{ event.end_date }}</span>
                    <div class=""></div>
                    <span>{{ event.description }}</span>
                    {% for s in event.size %}
                        <br></br>
                    {% endfor %}
                    <br></br>
                    {% endfor %}
                </td>
                <td>
                    {% for event in d.4 %}
                    <span>{{ event.start_date }} - {{ event.end_date }}</span>
                    <div class=""></div>
                    <span>{{ event.description }}</span>
                    {% for s in event.size %}
                        <br></br>
                    {% endfor %}
                    <br></br>
                    {% endfor %}
                </td>
                <td>
                    {% for event in d.5%}
                    <span>{{ event.start_date }} - {{ event.end_date }}</span>
                    <div class=""></div>
                    <span>{{ event.description }}</span>
                    {% for s in event.size %}
                        <br></br>
                    {% endfor %}
                    <br></br>
                    {% endfor %}
                </td>
                <td>
                    {% for event in d.6 %}
                    <span>{{ event.start_date }} - {{ event.end_date }}</span>
                    <div class=""></div>
                    <span>{{ event.description }}</span>
                    {% for s in event.size %}
                        <br></br>
                    {% endfor %}
                    <br></br>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        </table>
</div> -->



{% endblock %}
