{% load crispy_forms_tags %}
{% block extension-styles %}
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_mark.css' %}">
{% endblock %}

{% block content %}
<div class="grid">
    <div class="titlebar">
        <div class=title>
            {% if edit %}
                Edytuj ocenę
            {% else %}
                Dodaj ocenę
            {% endif %}
        </div>
    </div>
    <div class=line>
        <hr style="color:CornflowerBlue">
    </div>
    <div class="formbar">
        <form method="post">
            {% csrf_token %}
            {{ mark_form|crispy }}
            <br>
            {% if edit %}
                <button type="submit" class=button>Zatwierdź</button>
                <a href="{% url 'delete_mark_view' mark_id %}" class="button">Usuń</a>
                <a href="{% url 'course' pk %}" class="button">Wróć</a>
            {% else %}
                <button type="submit" class=button>Zatwierdź</button>
                <a href="{% url 'course' pk %}" class="button">Wróć</a>
            {% endif %}

        </form>
    </div>
</div>
{% endblock %}
