{% extends "base/base-template.html" %}
{% load crispy_forms_tags %}
{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_mark.css' %}">
{% endblock %}

{% block content %}
<div class="grid">
    <div class="titlebar">
        <div class=title>
            {% if edit %}
                Edytuj ocenę
            {% else %}
                Dodaj ocenę
            {% endif %}
        </div>
    </div>
    <div class=line>
        <hr style="color:CornflowerBlue">
    </div>
    <div class="formbar">
        <form method="post">
            {% csrf_token %}
            {{ mark_form|crispy }}
            <button type="submit" class=button>Zatwierdź</button>
            <a href="{% url 'course' pk %}" class="button">Wróć</a>
        </form>
    </div>
</div>
{% endblock %}
