{% extends "base/base-template.html" %}

{% block extension-styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/statistics.css' %}">

    <script type="text/javascript" src="{% static 'scripts/statistics.js' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

{% endblock %}

{% block content %}
    <div class="statistics_container">
        <div class="titlebar">
            <div class="title">
                Statystyki
            </div>
        </div>

        <div class="buttonbar">
            <a href="{% url 'statisticsDays' %}" class=button>Koniec semestru</a>
            <a href="{% url 'statisticsTimeSpentOnCourses' %}" class=button>Czas poświęcony na przedmiot</a>
            <a href="{% url 'statisticsRatios' %}" class=button>Predykcja</a>
        </div>

        <div class=line>
            <hr style="color:CornflowerBlue">
        </div>

        <div class="chart_panels">
            <div class="chart_panel chart" id="chartDiv">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>

    {% if daysInSemester %}
       <script>
            window.onload = function () {
                createDaysChart({{ daysInSemester }}, {{ daysToEndOfSemester }});
            }
        </script>
    {% elif timeSpendOnCourses %}
       <script>
            window.onload = function () {
                createSpendTimeChart({{ courseNames| safe }}, {{ timeSpendOnCourses | safe }});
            }
        </script>
   {% elif ratios %}
       <script>
            window.onload = function () {
                createRatiosChart({{ courseNames| safe }}, {{ ratios | safe }});
            }
        </script>
    {% endif %}

{% endblock %}
